{% block form_user_register %}
    {% use "blocks/block_res_message.twig" %}
    {% set getType = "" %}
    {% set getMess = "" %}
    {% set targetType = "register" %}

    {{ block('res_message') }}

    {# Form Register #}
    <div class="col-md-8">
        <form action="inscription" method="POST" enctype="multipart/form-data" class="row form-general">
            <div class="form-group">
                <label for="pseudo">Pseudo</label>
                <input type="text" name="pseudo" class="form-control" id="pseudo" placeholder="Pseudo" value="newuser">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" name="email" class="form-control" id="email" placeholder="Adresse email" value="pub@itopi.fr">
            </div>
            <div class="form-group">
                <label for="pass">Mot de passe</label>
                <input type="password" name="pass" class="form-control" id="pass" placeholder="Mot de passe" value="Pass_P4ss">
            </div>
            <div class="form-group">
                <label for="pass-confirm">Confirmation</label>
                <input type="password" name="pass-confirm" class="form-control" id="pass-confirm" placeholder="Confirmation" value="Pass_P4ss">
            </div>
            <div class="form-group text-center">
                <input type="submit" name="submit-register"/>
            </div>
        </form>
    </div>
{% endblock %}