{% block form_block_messages %}
{# Messages #}
<div class="col-12 text-center form-block-messages">
    {% if (result) %}
        <div class="alert alert-{{ (result.isErr()) ? 'warning' : 'success' }}" role="alert">
            {% for key, m in result.getMsg() %}

                {% if result.isErr() %}
                    {{ result.translateType(key) }} :
                {% endif %}

                {{ m }}<br />

            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}