{% block form_user_login %}

    {# Form Login #}
    <div class="col-md-8">
        <form action="connexion" method="POST" enctype="multipart/form-data" class="row form-general">
            <div class="form-group">
                <label for="pseudo">Email</label>
                <input type="text" name="email" class="form-control" id="email" placeholder="Adresse email">
            </div>
            <div class="form-group">
                <label for="pass2">Mot de passe</label>
                <input type="password" name="pass" class="form-control" id="pass" placeholder="Mot de passe">
            </div>
            <div class="form-group text-center">
                <input type="submit" name="submit-connect"/>
            </div>

            {# Messages #}
            <div class="col-12 text-center">
                {% if (result) %}
                    <div class="alert alert-{{ (result.isErr()) ? 'warning' : 'success' }}" role="alert">
                        {% for key, m in result.getMsg() %}

                            {% if result.isErr() %}
                                {{ result.translateType(key) }} :
                            {% endif %}

                            {{ m }}<br />

                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </form>
    </div>

    <div class="col-md-4">
        oo@oo.oo / oo <br />
        uu@uu.uu / uu
    </div>


{% endblock %}