{% block form_user_password %}
    {% use "blocks/block_res_message.twig" %}
    {% set getType = "" %}
    {% set getMess = "" %}
    {% set targetType = "user-change-pass" %}

    <form action="profil" method="POST" enctype="multipart/form-data" class="row form-general">
        <h2>Changement mot de passe</h2>

        {# Messages #}
        {{ block('res_message') }}

        {# Form #}
        <div class="form-group">
            <label for="pseudo">Ancien mot de passe</label>
            <input type="password" name="pass-old" class="form-control" id="pass-old" placeholder="Ancien mot de passe">
        </div>
        <div class="form-group">
            <label for="pseudo">Nouveau mot de passe</label>
            <input type="password" name="pass-new-a" class="form-control" id="pass-new-a" placeholder="Nouveau mot de passe">
        </div>
        <div class="form-group">
            <label for="pass2">Confirmation</label>
            <input type="password" name="pass-new-b" class="form-control" id="pass-new-b" placeholder="Confirmation">
        </div>

        <div class="form-group text-center">
            <input type="submit" name="submit-user-pass"/>
        </div>
    </form>
{% endblock %}