{% extends "layout.twig" %}
{% use "blocks/owner/block_bo_owner_menu.twig" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    {{ block('bo_owner_menu') }}
    <div class="row">
        template : comments manage
    </div>
{% endblock %}