{% extends "layout.twig" %}
{% use "blocks/owner/block_bo_owner_menu.twig" %}
{% use "blocks/owner/block_bo_comments_manage.twig" %}

{% set title = 'Comments' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    {{ block('bo_owner_menu') }}
    {{ block('bo_comments_manage') }}
{% endblock %}