/* ---------------------------------------------------- General */
a {
  color: #0085a1;
}

button > a {
  color: #fff;
}

a:hover {
  color: #48d0ee;
}

.strong {
  font-weight: 700;
}

@media (max-width: 767px) {
  body {
    font-size: 1rem;
  }
}

/* ----------------------------------------------- Sections Base */
.section-general {
  margin: 25px 0;
  padding: 25px;
}

.section-lined {
  border-left: 1px solid rgba(46, 37, 91, 0.37);
}

.section-blue {
  background-color: #2e255b;
  color: #fff;
}

section > h1 {
  margin-bottom: 30px;
}

/* --------------------------------------------- Transition Base */
.trans-quick {
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.trans-mid {
  transition-duration: 0.45s;
  transition-timing-function: ease-in-out;
}

.trans-long {
  transition-duration: 0.55s;
  transition-timing-function: ease-in-out;
}

/* Transition : color only */
.trans-clr {
  transition-property: color;
}

/* Transition : background-color only */
.trans-bgclr {
  transition-property: background-color;
}

/* Transition : transform only */
.trans-trnsf {
  transition-property: transform;
}

/* Transition : color + background-color */
.trans-clr.trans-bgclr {
  transition-property: color, background-color;
}

/* Transition : color + transform */
.trans-clr.trans-trnsf {
  transition-property: color, transform;
}

/* Transition : background-color + transform */
.trans-bgclr.trans-trnsf {
  transition-property: background-color, transform;
}


/* ------------------------------------------------------ Navbar */
.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #48d0ee;
  transform: scale(1.1);
}

.navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:hover {
  color: #48d0ee;
}

/* ------------------------------------------------------ Header */
header.masthead {
  background-image: url("/public/assets/img/home-bg.jpg");
}

.site-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.owner-photo img {
  width: 100%;
  height: auto;
}

.owner-cv {
  margin-top: 50px;
}

.owner-cv > a {
  color: #fff;
}

.owner-cv > a:hover {
  color: #48d0ee;
}

/* /* ---------------------------------------------------- Forms */
label {
  display: inline;
}

.form-control {
  display: inline;
  width: auto;
  min-width: 200px;
}

.form-group {
  padding: 10px;
}

.img-thumbnail {
  width: 30px;
  height: auto;
  padding: 0;
}




/* -------------------------------------------------- Posts List */
.post-list article {
  padding: 10px;
  background-color: #fff;
}

.post-list article:hover {
  background-color: #f4f8fd;
  transform: scale(1.01);
}

.post-list .post-title,
.post-list .post-meta,
.post-list .post-excerpt {
  color: #3d4b7a;
}

.post-list article:hover .post-title,
.post-list article:hover .post-meta,
.post-list article:hover .post-excerpt {
  color: #652e5f;
}

/* -------------------------------------------------- Last Posts */
.last-posts article {
  padding: 10px;
  background-color: #fff;
}
.last-posts article:hover {
  background-color: #f4f8fd;
  transform: scale(1.01);
}

.last-posts .post-title,
.last-posts .post-meta,
.last-posts .post-excerpt {
  color: #3d4b7a;
}

.last-posts article:hover .post-title,
.last-posts article:hover .post-meta,
.last-posts article:hover .post-excerpt {
  color: #652e5f;
}


/* ------------------------------------------------- Post Single */
.post-single-feat-img {
  width: 100%;
  height: auto;
}

/* -------------------------------------------------Owner Manage */
.owner-menu {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f3f3f3;
}

.manage-items {
  font-size: 1.1rem;
}

@media (max-width: 991px) {
  .manage-item {
    border: 1px solid #ccc;
    margin-bottom: 15px;
    padding: 5px;
  }
}

/* -----------------------------------------Owner Manage : Posts */

.manage-posts {
  margin-top: 25px;
}

.manage-posts-btn-create {
  margin-bottom: 25px;
}

.form-control.post-title,
.form-control.post-slug {
  width: 400px;
}

.form-control.post-content {
  width: 100%;
}

.post-image-input {
  margin-top: 25px;
}

.img-post-edit {
  width: 50%;
  height: auto;
}

/* ------------------------------------- Owner Manage : Comments */
.manage-comments .status-valid {
  background-color: #edffe4;
}

.manage-comments .status-wait {
  background-color: #fff092;
}

/* ----------------------------------------------------- Vardump */
.vardump {
  position: absolute;
  width: 95%;
  height: auto;
  max-height: 75%;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  font-family: monospace;
  padding: 10px;
  top: 100px;
  opacity: 85%;
  border: 1px solid #fff;
  box-shadow: 0 0 10px #fff;
  border-radius: 5px;
  z-index: 999;
}

.vardump > pre {
  overflow-wrap: anywhere;
  white-space: pre-wrap;
  overflow: scroll;
}

.vardump-close {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 15px;
  cursor: pointer;
}

.vardump-close > svg {
  height: 1.5rem;
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ----------------------------------------------- Responsive */
@media (max-width: 767px) {
  header.masthead {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .section-general {
    margin: 15px 0;
    padding: 5px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .section-general {
    margin: 15px 0;
    padding: 5px;
  }
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
