{% block contact %}
    <!-- Contact -->
    <section class="row gx-4 gx-lg-5 justify-content-center last-posts">
        <h2>Contact</h2>
        <div class="col-md-10 col-lg-8 col-xl-7">
            Allo ?
        </div>
    </section>
{% endblock %}