{% block fo_post_single %}
    <section class="row gx-4 gx-lg-5 justify-content-center section-general section-lined post-single">
        <h1>{{ post.title }}</h1>
        <div class="col-md-10">
            <p>{{ post.content }}</p>
        </div>
        <div class="col-md-2 d-none d-md-block">
            <img class="post-single-feat-img" src="{{ post.getFeatImgFile().getUrl() }}" alt="" class="src">
        </div>
    </section>
{% endblock %}