{% block bo_owner_menu %}
    <div class="row owner-menu">
        <div class="col-md-4"><a href="/owner/posts" >Gestion des articles</a></div>
        <div class="col-md-4"><a href="/owner/comments" >Gestion des commentaires</a> </div>
        <div class="col-md-4"><a href="/owner/users" >Gestion des utilisateurs</a></div>
    </div>
{% endblock %}