{% block form_post_create %}
    {% use "blocks/block_res_message.twig" %}
    {% set getType = "" %}
    {% set getMess = "" %}
    {% set targetType = "post-create" %}

    {# Messages #}
    {{ block('res_message') }}

    {# Form #}
    {% if formsent != true %}
        <form action="/owner/post-create/{{ post.getPostId() }}" method="POST" enctype="multipart/form-data" class="row form-general">

            <div class="col-md-6">
                <div class="form-group">
                    <label for="post-title"><h5>Titre de l'article</h5></label>
                    <input type="text" name="post-title" class="form-control post-title" id="post-title" placeholder="Titre" value="Lorem ipsum dolor sit amet">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <h5>Illustration de l'article</h5>
                    <div class="row">
                        <div class="col-md-8 post-image-input">
                            <label for="post-image"></label>
                            <input type="file" name="post-image" class="form-control" id="post-image" placeholder="Illustration">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <h5>Statut de l'article</h5>
                    <input type="radio" id="post-status-pub" name="post-status" value="pub">
                    <label for="post-status-pub">Publié</label><br />
                    <input type="radio" id="post-status-draft" name="post-status" value="draft" checked>
                    <label for="post-status-draft">Brouillon</label>
                </div>


            </div>


            <div class="form-group">
                <label for="post-content"><h5>Contenu de l'article</h5></label>
                <textarea name="post-content" class="form-control post-content" id="post-content" placeholder="Contenu de l'article" rows="15">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer blandit eros felis, at efficitur nisi euismod a. Sed molestie neque lorem, quis tincidunt purus congue a. Integer feugiat vel elit non eleifend. Vestibulum ut ultricies elit. Nullam fermentum, quam et venenatis sagittis, orci tortor volutpat nisl, vulputate pretium elit odio a dui. Vivamus scelerisque, metus a pellentesque suscipit, metus lacus elementum leo, a vulputate lorem sem et lectus. Ut vitae elit quis justo iaculis fringilla. Mauris fermentum fermentum porta. Morbi euismod congue neque, eu efficitur orci varius sit amet. Donec pulvinar vel erat quis faucibus. Quisque nec luctus libero.</textarea>
            </div>

            <div class="form-group text-center">
                <input type="submit" name="submit-post-create"/>
            </div>
        </form>
    {% endif %}
{% endblock %}