{% use "blocks/block_head.twig" %}
{% use "blocks/block_nav.twig" %}
{% use "blocks/block_header.twig" %}
{% use "blocks/block_footer.twig" %}

<!doctype html>
<html lang="en">
    {{ block('head') }}

<body>
    {{ block('nav') }}
    {{ block('header') }}

    <!-- Main Content-->
    <div class="container px-4 px-lg-5">
        <div class="row">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    {{ block('footer') }}
</body>
</html>